.accordion-container {
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #b8b9bb; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    background-color: #fff; /* White background */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    transition: box-shadow 0.3s ease-in-out; /* Smooth shadow transition */
  }

  .accordion-container:hover{
    background-color: #dadada;
  }
  
  .accordion-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2rem;

  }
  
  .accordion-toggle-icon {
    font-size: 1.5rem; /* Larger size for the plus/minus icon */
    transition: transform 0.2s ease-out;
    margin-right: 20px;
    display: flex; /* Make it a flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }
  
  .accordion-toggle-icon.open {
    transform: rotate(180deg); /* Rotate the icon when open */
  }
  
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out; /* Smooth transition for max-height and opacity */
    }
  
  .accordion-content.open {
    max-height: 500px;
    opacity: 1;
  }
  
  .accordion-answer {
    font-size: 1rem; /* Smaller text */
    color: #4b5563; /* Slate color */
    margin-top: 14px;
  }
  