.passenger_info_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.flight_info_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 40px;
    text-align: center;
}

.flight_info_heading h1{
    font-size: 2rem;
    color: #333; /* Dark color for the heading */
}

.flight_info_heading p {
    font-size: 1rem; /* Adjust font size for the paragraph */
    color: #434343; /* Lighter color for the paragraph */
}


.passenger_cards_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.continue_button {
    --color: #87CEEB;
    font-family: inherit;
    display: inline-block;
    width: 70%;
    height: 2.6em;
    line-height: 2.5em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 4s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: var(--color);
    transition: background-color 0.8s, color 0.8s;
    margin-top: 20px;
  }
  
.continue_button:hover {
    background-color: var(--color); /* Change background color on hover */
    color: #fff; /* Change text color to white on hover */
}

.continue_button:active {
    background-color: #6db0d4; /* Slightly darker color for active state */
    color: #fff;
}
  

@media (max-width: 650px){
    .passenger_info_container{
        width: 90%;
    }
}