.footer {
    background: url('/bg_image_3.jpg');
    color: #ffedd3;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;

}

.footer_container {
display: flex;
justify-content: space-between;
align-items: start;
width: 100%;
margin: 0 auto;
}

.footer_column {
  flex: 1;
  margin: 10px;
  display: flex;
  flex-direction: column;
  
}



.footer_logo img {
  width: 150px;
  height: auto;
}

.footer_info h3, .footer_social h3, .footer_promo h3 {
margin-bottom: 10px;
font-size: 1.5rem;
color: #87CEEB;
}

.footer_info p, .footer_copy_right p {
  font-size: 18px;
margin: 5px 0;
font-size: 18px;
}

.footer_social .social_icons {
display: flex;
gap: 15px;
}

.footer_social .social_icons a {
color: #fff;
text-decoration: none;
transition: color 0.3s ease;
}

.footer_social .social_icons a:hover {
color: #87CEEB;
}

.footer_social h3{
  margin-top: 20px;
}

.footer_faqs h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #87CEEB;
}

.footer_faqs p {
  font-size: 18px;
margin: 10px 0;
}



.footer_about_us{
  margin-top: 20px;
}



.footer_about_us h3{
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #87CEEB;
}

.footer_about_us p{
  font-size: 18px;
  margin: 10px 0;
}

.footer_button_container{
  margin-right: 10px;

}

.footer_button_container button {
  font: inherit;
  background-color: #EEEEEE;
  border: 0;
  color: #242424;
  border-radius: 0.5em;
  font-size: 1.35rem;
  padding: 0.375em 1em;
  font-weight: 600;
  text-shadow: 0 0.0625em 0 #ffffff;
  box-shadow: 
      inset 0 0.0625em 0 0 #ffffff,  /* light white inner shadow */
      0 0.0625em 0 0 #e1e1e1,  /* light gray shadow around the button */
      0 0.125em 0 0 #c2c2c2,  /* subtle darker gray */
      0 0.25em 0 0 #b3b3b3,  /* medium gray shadow */
      0 0.3125em 0 0 #9e9e9e,  /* darker gray */
      0 0.375em 0 0 #8f8f8f,  /* darker shadow for more depth */
      0 0.425em 0 0 #7f7f7f,  /* even darker shadow */
      0 0.425em 0.5em 0 #6f6f6f; /* dark outermost shadow */
  transition: 0.15s ease;
  cursor: pointer;
  width: 200px;
}

.footer_button_container button:active {
  translate: 0 0.225em;
  box-shadow: 
      inset 0 0.03em 0 0 #ffffff,  /* light white inner shadow */
      0 0.03em 0 0 #e1e1e1,  /* light gray shadow around the button */
      0 0.0625em 0 0 #c2c2c2,  /* subtle darker gray */
      0 0.125em 0 0 #b3b3b3,  /* medium gray shadow */
      0 0.125em 0 0 #9e9e9e,  /* darker gray */
      0 0.2em 0 0 #8f8f8f,  /* darker shadow for more depth */
      0 0.225em 0 0 #7f7f7f,  /* even darker shadow */
      0 0.225em 0.375em 0 #6f6f6f; /* dark outermost shadow */
}






.author_container {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #fff;
}

  
  @media (max-width: 953px) {
    .footer_container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }




    .social_icons{
        justify-content: center;
    }
    .footer_column{
      gap: 20px;
    }

    .author_container {
      margin-top: 50px;
    }
    
  }
  